{{#if results.length}}
<section class="section">
    <div class="container">
        <div class="columns is-8 is-variable is-centered">
          {{#each results as |result|}}
            <a href="/homepage" class="column is-4-tablet is-3-desktop">
              <div class="card">
                <div class="card-image">
                  <img src="https://firebasestorage.googleapis.com/v0/b/local-exchange-hub-db3b9.appspot.com/o/6-6-2022_d5c3af64-c313-4424-89fd-d884b8aae796.jpg?alt=media&token=51412ba7-0441-453f-9abb-f7c731547671" alt="Placeholder image">
                </div>
                <div class="card-content">
                  <p>{{offer_name}}</p>
                  <p>{{free_offer}}</p>
                  <div>
                    <p>{{street_address}}</p>
                    <p>{{city_name}}</p>
                  </div>
                  
                </div>
              </div>
            </a>
            {{/each}}
        </div>
    </div>
</section>
{{/if}}























