<div class="columns is-mobile is-centered mt-6 pt-6">
  <div class="column is-9">
    <form class="box">
      <div class="field">
        <label class="label">Title</label>
        <div class="control">
          <input
            id="post-title"
            class="input"
            type="text"
            placeholder="My Tech Post Title"
          />
        </div>
      </div>

      <div class="field">
        <label class="label">Post Content</label>
        <div class="control">
          <textarea
            id="post-article"
            class="textarea"
            placeholder="Content for this blog post goes here..."
            rows="10"
          ></textarea>
        </div>
      </div>
      <button class="button is-primary post-article-form">Post it</button>
    </form>
    <script src="/js/post.js"></script>
  </div>
</div>