<section class="section">
     <div class="container">
       <form class="card py-3 px-3" >
         <h3 class="has-text-centered my-4">Create A new offer</h3>
           <div class="field my-4">
            <div action="/action_page.php">
              <label for="img">Select image:</label>
              <input type="file" id="img" name="img" accept="image/*">
              <input type="submit">
            </div>
          </div>
          <div class="field my-4">
            <div class="control">
              <label>Item Name</label>
              <textarea id="item-name" class="textarea" placeholder="Item Name" rows="1"></textarea>
            </div>
          </div>

          {{!-- free_offer --}}
          <div class="select-area my-4">
            <label >is this offer free?</label>
            <select name="offer" id="offer">
              <option value="is this offer free?">select offer type</option>
              <option value="yes">Yes</option>
              <option value="no">No</option>
            </select>
          </div>
          <div class="field my-4">
            <div class="control">
              <label >Item Description</label>
              <textarea id="description" class="textarea" placeholder="Item Description" rows="5"></textarea>
            </div>
          </div>

          {{!-- catergory --}}
          {{#if catergories.length}}
          <div class="select-area my-4">
            <label for="">Select category</label>
            <select name="Catergories" id="Catergories">
              <option value="Select category">Select category</option>
              {{#each}}
              <option value="Shirts">Shirts</option>
              {{/each}}
            </select>
          </div>
          {{/if}}

         {{!-- offer_condition --}}
          <div class="select-area my-4">
            <label>Offer condition</label>
            <select name="offer-condition" id="offer-condition">
              <option value="condition">Offer condition</option>
              <option value="Used">Used</option>
              <option value="New">New</option>
            </select>
          </div>

          <div class="field my-4">
            <div class="control">
              <label>Street Address</label>
              <textarea id="street-address" class="textarea" placeholder="Street Address" rows="3"></textarea>
            </div>
          </div>
          <div class="field my-4">
            <div class="control">
              <label>Zip code</label>
              <textarea id="zipcode" class="textarea" placeholder="Zipcode" rows="1">{{offer_item.zipcode}}</textarea>
            </div>
          </div>

        {{!-- city list --}}
        {{#if citylists.length}}
         <div class="select-area my-4">
            <label for="">Select the City</label>
            <select name="City" id="City">
              <option value="Select city">Select category</option>
              {{#each}}
              <option value="{{offer_item.city_name}}">{{offer_item.city_name}}</option>
              {{/each}}
            </div>
         {{/if}}

          <button class="button-offer" type="submit">+ New Offer</button>
       </form>
    </div>

</section>

<script src="./js/new-offer.js"></script>